.CategoriesBannerList {
  margin: 50px;
  max-width: 1000px;
}

.CategoriesBannerList .categories-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
}

.CategoriesBannerList .categories-list li {
  flex: 1 1 calc(25% - 20px); 
  max-width: calc(25% - 20px);
}

@media (max-width: 768px) {
  .CategoriesBannerList .categories-list li {
    flex: 1 1 calc(45% - 20px); 
    max-width: calc(45% - 20px);
    padding-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .CategoriesBannerList .categories-list li {
    flex: 1 1 100%; 
    max-width: 100%;
  }
}
