.CategoriesBanner {
  background-color: var(--primary-clr);
  text-align: center;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--light-clr);
  padding: 50px;
}

.categories-title-container h2 {
  letter-spacing: 5px;
}

.all-categories-link-container button {
  background-color: var(--secondary-accent-clr);
}

.all-categories-link-container button:hover {
  background-color: var(--primary-accent-clr);
}

.all-categories-link-container a {
  text-decoration: none;
  color: white;
  font-family: var(--ff-primary);
}