.CategoriesBannerList {
  margin-inline: 50px;
}

.CategoriesBannerList .categories-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.CategoriesBannerList .categories-list li {
  flex: 1 1 calc(20% - 20px); 
  max-width: calc(20% - 20px); 
}

@media (max-width: 768px) {
  .CategoriesBannerList .categories-list li {
    flex: 1 1 calc(45% - 20px); 
    max-width: calc(45% - 20px);
  }
}

@media (max-width: 480px) {
  .CategoriesBannerList .categories-list li {
    flex: 1 1 100%; 
    max-width: 100%;
  }
}
