.ProductDetail {
  margin: 50px;
}

.ProductDetail .product-container {
  margin: 0 auto;
  max-width: 1000px;
  height: 400px;
  display: flex;
  border: 2px solid rgba(0, 0, 0, 0.175);
  border-radius: 15px;
  padding: 50px;
}

.ProductDetail .product-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ProductDetail .product-img-container .product-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.ProductDetail .product-details-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ProductDetail .product-title,
.ProductDetail .product-card-price {
  font-weight: bold;
}

.add-to-cart-container button {
  margin-top: 10px;
  background-color: var(--secondary-accent-clr);
  text-decoration: none;
  color: white;
  font-family: var(--ff-primary);
}

.add-to-cart-container button:hover {
  background-color: var(--primary-accent-clr);
  color: white;
}

@media (max-width: 768px) {
  .ProductDetail .product-container {
    flex-direction: column;
    align-items: center;
    height: auto;
    min-width: 300px;
  }

  .ProductDetail .product-details-container {
    margin: 10px 0 0 0;
  }
}

@media (max-width: 480px) {

}