.navbar {
  font-family: var(--ff-primary);
  background-color: var(--secondary-clr);
}

.navbar .navbar-brand, 
#user-link, 
#cart-link {
  color: #fff;
}

.navbar .navbar-brand:hover,
.navbar #user-link:hover, 
.navbar #cart-link:hover {
  color: var(--primary-accent-clr);
}

.navbar .navbar-toggler {
  border-color: #fff;
}

.navbar .navbar-toggler:hover{
  background-color: var(--primary-accent-clr);
}

.navbar .navbar-toggler:focus {
  border-color: #fff;
}

.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-brand:hover, 
.nav-link:hover {
  text-decoration: underline;
}

@media (max-width: 480px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar .w-100 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .navbar .navbar-toggler {
    order: 1;
    margin-left: 0;
  }

  .navbar-brand {
    order: 2;
    margin: 0 auto;
  }

  .navbar #user-link {
    order: 3;
  }

  .cart-nav {
    order: 4;
  }

  .navbar .search-container {
    order: 5;
    width: 100%;
    margin-top: 10px;
  }
}